.results-ul-li {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(to right, $white, $glass-color);

  .one-movie {
    padding: 0.8rem 2.8rem;
  }
  .title {
    font-weight: $font-weight-hard;
    color: $black;
  }
  li {
    list-style: none;
  }
}
