.results-ul-li {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(to right, $white, $glass-color);

  .one-movie {
    padding: 0.8rem 2.8rem;
  }
  .title {
    font-weight: $font-weight-hard;
    color: $black;
  }
  li {
    list-style: none;
  }
}
.error-text {
  width: 64%;
  padding: 1rem 3.8rem;
  font-weight: $font-weight-hard;
  color: $orange-light;
}
