@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

@import "./base/settings";

body {
  font-family: $font-stack;
  font-size: $font-size;
  cursor: pointer;
  background-color: #cfd8df82;
  background: url(./assets/skyImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, $orange-light, $orange-dark);
  width: 100%;
  height: 3rem;
  padding: 1.5rem 0;
  margin: 0;
}
.input-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 0 1rem;
  background-color: $background-color;
  position: relative;
  z-index: 0;
}

input {
  font-family: $font-stack;
  font-weight: $font-weight-hard;
  font-size: $font-size;
  background-color: rgba(255, 0, 0, 0);
  padding: 1rem;
  margin: 0;
  width: 100%;
  color: $white;
  border: none;

  &:focus {
    outline: none;
  }
}
::placeholder {
  color: $white;
}

.results {
  position: absolute;
  z-index: 1;
  margin-top: 39.7rem;
  width: 95%;
  left: 0;
  padding-top: 1rem;
  padding-bottom: $padding;
  background: linear-gradient(to right, $white, rgba(255, 0, 0, 0));

  .one-movie {
    padding: 0.8rem 1.3rem;
    width: $width;
  }
  .title {
    font-weight: $font-weight-hard;
    color: $black;
  }
  li {
    list-style: none;
  }
}

.other-content {
  background-color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
