@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

@import "./base/settings";

@mixin centerer {
  position: absolute;
  transform: translate(-50%, 0);
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  cursor: pointer;
  background-color: rgb(195, 220, 224);
  background: no-repeat url(./images/kaushik-panchal-0juC5JIhPks-unsplash.jpg);
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(to right, $orange-light, $orange-dark);
  width: $width;
  height: 3rem;
  padding: 1.5rem;
  @include centerer;
  left: 50%;
}
input {
  font-family: $font-stack;
  font-weight: $font-weight-hard;
  font-size: $font-size;
  background-color: $background-color;
  padding: $padding;
  margin: 1.5px;
  padding-left: 4.5rem;
  width: $width - 9%;
  color: $white;
  border: none;
  &:focus {
    outline: none;
  }
}
::placeholder {
  color: $white;
}

.movie-svg {
  fill: $white;
  width: 2rem;
  position: absolute;
  left: 9%;
  transform: translate(10%, 30%);
  height: 1.8rem;
}
button {
  padding: $padding;
  font-size: 1.3rem;
  color: $orange-light;
  border: none;
  margin: 1.5px;
}
.results {
  // is .parent-div's child
  position: absolute;
  transform: translate(-50%, 11%);
  left: 50%;
  width: 64%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 3px 0 $grey, -2px 1px 3px 1px $grey;
  padding-bottom: $padding;
  background-color: $white;
  .one-movie {
    padding: $padding;
    width: $width;
  }
  .title {
    font-weight: $font-weight-hard;
    color: $black;
  }
  li {
    list-style: none;
  }
}

.other-content {
  @include centerer;
  left: 50%;
  background-color: $white;
  width: $width;
  height: 100vh;
  margin: 0 auto;
  padding: 1.5rem;
  z-index: -1;
}
