// colors
$font-stack: "Roboto Slab", sans-serif;
$font-weight-hard: 700;
$font-weight-light: 100;
$font-size: 1rem;
$padding: 0.8rem;
$width: 85%;
$white: rgba(255, 255, 255, 0.704);
$orange-light: #ff690f;
$orange-dark: #e93a1b;
$black: rgba(3, 3, 3, 0.699);
$grey: rgb(165, 165, 165);
$background-color: rgba(255, 255, 255, 0.3);
