// colors
$font-stack: "Roboto Slab", sans-serif;
$font-weight-hard: 700;
$font-weight-light: 100;
$font-size: 1rem;
$padding: 0.8rem;
$width: 85%;
$white: #ffffffb4;
$orange-light: #ff690f;
$orange-dark: #e93a1b;
$black: #030303b2;
$grey: #a5a5a5;
$background-color: #ffffff4d;
